extends ../layouts/default

//- block content
//-   .container: .jumbotron
//-     img(src='/images/logo.svg', width='160')
//-     h1 Welcome
//-     p This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.
//-     p It includes the latest versions of
//-       | <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
//-       | and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
//-     p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
//-     hr
//-     if user && user.canAccessKeystone
//-       p
//-         a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
//-     else
//-       p We have created a default Admin user for you with the email <strong>r.zimerman33@gmail.com</strong> and the password <strong>admin</strong>.
//-       p
//-         a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
//-         |  to use the Admin UI.
//-     hr
//-     p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
//-       | <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
