
.btn {
	-webkit-appearance: none;
	display: inline-block;

	height: auto;
	margin: 0;
	padding: (0.6rem - $button-border-weight) 0.8rem;

	border: $button-border-weight solid transparent;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
  vertical-align: middle;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  color: inherit;
  background-color: transparent;

  outline: none;
  &:hover {
  	border-color: rgba(0,0,0,$button-dark-factor-hover);
  	box-shadow: inset 0 0 0 20rem rgba(0,0,0,$button-dark-factor-hover);
  }
  &:focus {
  	border-color: rgba(0,0,0,$button-dark-factor-focus);
  	box-shadow: inset 0 0 0 20rem rgba(0,0,0,$button-dark-factor-focus);
  }
  &:active {
  	border-color: rgba(0,0,0,$button-dark-factor-active);
  	box-shadow: inset 0 0 0 20rem rgba(0,0,0,$button-dark-factor-active);
  }
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn--outline,
.btn--outline:hover,
.btn--outline:focus,
.btn--outline:active {
  border-color: currentcolor;
}

.btn--md {
	// line-height: 1.75;
	padding: (1rem - $button-border-weight) 0.8rem;
}

.btn--lg {
	// line-height: 2.25;
	padding: (1.4rem - $button-border-weight) 0.8rem;
}


.btn--block {
  display: block;
}
