
// @import 'fonts/fonts-no-cache';
@import 'fonts/montserrat';
@import 'variables';

// Resets

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: $font-family-base;
	font-size: 62.5%;
	height: 100%;

	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: $color-yellow-500;
	text-decoration: none;
	cursor: pointer !important;
}

a img {
	border: 0;
}

iframe {
	border: 0;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
}

// img {
// 	opacity: 0;
// }

// .no-js img {
// 	opacity: 1;
// }

.circle-element {
	width: 4.8rem;
	height: 4.8rem;
	line-height: 4rem;
	// margin: 2.4rem auto 4.8rem auto;
	margin: 0 auto;
	border-radius: 50%;
	border: 0.4rem solid $color-grey-400;
	color: $color-grey-400;
	font-size: 2.4rem;
	font-weight: $font-weight-heading;
	text-align: center;
}

// Major imports

@import 'grid';
@import 'typography';
@import 'buttons';

@import 'utils';

// Header + Navigation

.site-header {
	// position: absolute;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.2);
}

.site-header--sticky {
	background: rgba(0,0,0,0.75);
}

.logo {
	// position: relative;
	float: left;
	padding-top:0.5rem;
	z-index: 1;
}

.cgd-logo {
	float: left;
	margin-top: 1rem;
	padding-right: 0.8rem;
	margin-right: 0.8rem;
	border-right: 1px solid rgba(255,255,255,0.3);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	@media (min-width: $breakpoint-xs) {
		padding-right: 1.6rem;
		margin-right: 1.6rem;
	}
}

.ms-logo {
	float: left;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 400;
	letter-spacing: 1px;
	padding-right: 1.6rem;
	> a { color: #fff; }
	transition: all 0.3s;
}

.get-book > .btn {
	margin-top: 2.2rem;
	padding: 1.6rem 2.4rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.site-header--sticky {
	.logo {
		padding-top: 0;
	}
	.cgd-logo {
		margin-top: 0.5rem;
	}
	.ms-logo {
  	margin-top: 1.6rem;
  	margin-bottom: 1.6rem;
	}
	.get-book > .btn {
		margin-top: 1.6rem;
		padding: 0.8rem 1.6rem;
	}
}

@import 'navigation';

// Banners

.banner {
	position: relative;
	height: 48rem;

	color: $color-white;

	overflow: hidden;
	// -webkit-transition: all 0.5s;
	// -moz-transition: all 0.5s;
	// -ms-transition: all 0.5s;
	// -o-transition: all 0.5s;
	// transition: all 0.5s;
	@media (min-width: $breakpoint-sm) {
		height: 66rem;
	}
}

.banner--page {
	@media (min-width: $breakpoint-sm) {
		// height: 56rem;
		height: 48rem;
	}
}

.divider--sm {
	width: 5rem;
	display: block;
	margin: 1rem auto;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0.4rem solid $color-yellow-500;
}

// .banner--cover {
// 	height: 56rem;
// 	@media (min-width: $breakpoint-sm) {
// 		height: 100vh;
// 	}
// }

.banner > img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		 -moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			 -o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	max-width: none;
	min-width: 100%;
	max-height: none;
	@media (min-width: $breakpoint-sm) {
		max-width: none;
	}
}

@keyframes bannerElementOneEnter {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	20% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bannerElementTwoEnter {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	30% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bannerElementThreeEnter {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	40% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.banner .element--0 {
	animation: bannerElementOneEnter 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.banner .element--1 {
	animation: bannerElementTwoEnter 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.banner .element--2 {
	animation: bannerElementThreeEnter 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.banner-overlay {
	position: relative;
	background: rgba(0,0,0,0.4);
	overflow: hidden;
	height: 100%;
	transition: background 0.5s;
}

.banner--home,
.banner--page {
	> img {
		max-width: 100rem;
	}
	@media (min-width: $breakpoint-sm) {
		> img {
			max-width: none;
		}
	}
}

.banner--cs {
	height: 100vh;
	box-shadow: 0 0.2rem 2.4rem rgba(0,0,0,0.5);
	background: $color-teal-600;
	> img {
		height: 100%;
		width: auto;
		min-width: auto;
		min-height: auto;
		max-width: auto;
		max-height: auto;
	}
	@media (min-width: $breakpoint-sm) {
		height: 100vh;
	}
	@media (min-width: $breakpoint-md) {
		> img {
			height: auto;
			width: auto;
			min-width: 100%;
			min-height: 100%;
			max-width: none;
			max-height: none;
		}
	}
}

.img-source {
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 10;
	font-size: 1.4rem;
	background: rgba(0,0,0,0.2);
	a { color: $color-grey-400; }
	a:hover,
	a:focus { color: $color-yellow-500; }
}

.case-study-img-container .img-source {
	top: 0;
	bottom: auto;
	@media (min-width: $breakpoint-md) {
		bottom: 0;
		top: auto;
	}
}

.cs-social {
	.btn { margin-right: 0.8rem; }
}

// .banner--page {

// }

// .circle-element {
// 	width: 4.8rem;
// 	height: 4.8rem;
// 	line-height: 4rem;
// 	// margin: 2.4rem auto 4.8rem auto;
// 	margin: 0 auto;
// 	border-radius: 50%;
// 	border: 0.4rem solid $color-grey-400;
// 	color: $color-grey-400;
// 	font-size: 2.4rem;
// 	font-weight: $font-weight-heading;
// 	text-align: center;
// }

.question-mark {
	fill: $color-white;
}

.question-circle {
	stroke: $color-white;
	stroke-width: 2;
	fill: none;
}

// Case studies list

.case-study-list__items {
	margin-bottom: 7.2rem;
}

.case-study-list__filters .active {
	background: $color-yellow-700;
}

.grid-item {
	color: $color-white;
	a {
		color: $color-white;
	}
	a:hover,
	a:focus {
		color: $color-yellow-500;
	}
	.item__inner {
		position: relative;
		overflow: hidden;
		background: #000;
	}
	.item__content {
		position: relative;
		// margin-top: 24rem;
		margin-top: 12rem;
		width: 100%;
	}
	.item__content > .approach {
		width: 55%;
		font-size: 1.4rem;
		opacity: 0.75;
		margin-bottom: 8rem;
	}
	img {
		position: absolute;
		top: 0;
		// left: 0;
		left: 50%;
		min-height: 100%;
		width: auto;
		max-width: none;
		opacity: 0.5;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.extended-badge {
		position: absolute;
		top: 0;
		left: 0;
		width: 4.8rem;
		height: 4.8rem;
		text-align: center;
		font-size: 4rem;
		line-height: 6.4rem;
		background: $color-yellow-500;
	}
	.item__divider {
		border-top: 0;
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	}
	@media (min-width: 33em) {
		img {
			width: 76.8rem;
			max-height: none;
			// left: 50%;
			// margin-left: -38.4rem;
		}
	}
	@media (min-width: $breakpoint-sm) {
		a {
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		.item__inner {
			height: 54rem;
			&:hover {
				img {
					-webkit-transform: translateX(-50%) scale(1.1);
					-moz-transform: translateX(-50%) scale(1.1);
					-ms-transform: translateX(-50%) scale(1.1);
					-o-transform: translateX(-50%) scale(1.1);
					transform: translateX(-50%) scale(1.1);
				}
			}
		}
		.item__content {
			margin-top: 30rem;
		}
		.item__content > .approach {
			pointer-events: none;
			position: absolute;
			top: 100%;
			left: 0;
			margin-bottom: 8rem;
		}
		.item__content > p {
			pointer-events: none;
			position: absolute;
			bottom: 100%;
			left: 0;
		}
		img {
			-webkit-transition: -webkit-transform 0.5s;
			-moz-transition: -moz-transform 0.5s;
			-ms-transition: -ms-transform 0.5s;
			-o-transition: -o-transform 0.5s;
			transition: transform 0.5s;
			// -webkit-backface-visibility: hidden;
		}
	}
}

.list-item {
	a {
		color: inherit;
	}
	a:hover,
	a:focus {
		color: $color-yellow-500;
	}
	.item__inner {
		position: relative;
	}
	.extended-badge {
		position: absolute;
		top: 0;
		left: 0;
		width: 4rem;
		height: 4rem;
		text-align: center;
		font-size: 4rem;
		line-height: 5.6rem;
		color: $color-white;
		background: $color-yellow-500;
	}
	.item__divider {
		display: none;
		border-top: 0;
		border-bottom: 2px solid $color-grey-200;
	}
	.headline {
		margin-top: 0;
	}
	@media (min-width: $breakpoint-sm) {
		img {
			float: left;
			width: 24rem;
		}
		.item__content {
			padding-left: 24rem;
		}
	}
}

.world-map {
	position: relative;
	min-height: 64rem;
	overflow: hidden;
	svg {
		display: block;
	}
}

.world-map--faded {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10rem;
		// background: rgba(255,255,255,0.5);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100 */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);

		pointer-events: none;
	}
}

.world-map .marker {
	cursor: pointer;
}



// .item__inner {

// }

// .item__overlay {
// 	background: rgba(0,0,0,0.5);
// }

// .item__content {
// 	margin-top: 24rem;
// }


// Case studies general

.iframe-container {
	position: relative;
	height: 40rem;
	margin-top: 3.2rem;
	margin-bottom: 5.6rem;
	background: $color-teal-600;
	overflow: hidden;
	@media (min-width: $breakpoint-sm) {
		height: 52rem;
	}
	@media (min-width: $breakpoint-md) {
		height: 60rem;
	}
}

.iframe-container img {
	position: relative;
	opacity: 0.5;
	left: 50%;
	width: auto;
	height: 100%;
	max-width: none;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	@media (min-width: $breakpoint-lg) {
		top: 50%;
		left: 0;
		width: 100%;
		height: auto;
		max-height: none;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.video-meta {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 48rem;
	color: $color-white;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.play {
	position: relative;
	margin: 0 auto;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	width: 8rem;
	height: 8rem;
	// margin-left: -4rem;
	// margin-top: -4rem;
	border-radius: 50%;
	border: 1rem solid $color-white;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.77, 0, 0.265, 1.55);
	-moz-transition: -moz-transform 0.4s cubic-bezier(0.77, 0, 0.265, 1.55);
	-ms-transition: -ms-transform 0.4s cubic-bezier(0.77, 0, 0.265, 1.55);
	-o-transition: -o-transform 0.4s cubic-bezier(0.77, 0, 0.265, 1.55);
	transition: transform 0.4s cubic-bezier(0.77, 0, 0.265, 1.55);
	&:after {
		content:'';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 3rem;
		height: 3rem;
		margin-left: -0.6rem;
		margin-top: -1.5rem;
		border-top: 1.5rem solid transparent;
		border-bottom: 1.5rem solid transparent;
		border-left: 1.5rem solid $color-white;
	}
	&:hover {
		cursor: pointer;
		border-color: $color-yellow-500;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
		&:after { border-left-color: $color-yellow-500; }
	}
}

.break-container {
	margin-top: 5.6rem;
	margin-bottom: 7.2rem;
	padding-top: 9.6rem;
	padding-bottom: 8rem;
	strong { color: $color-yellow-500; }
}

.case-study-img-container + .break-container {
	margin-top: 0;
}

.break-container.conclusion {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}

.conclusion-mini-map {
	width: 100%;
	max-width: 40em;
	height: 56rem;
	margin: 0 auto;
}

.mini-map {
	overflow: hidden;
}

.break--lg {
	// font-size: 4rem;
	// line-height: 4.8rem;
	> p {
		font-weight: 700;
		margin-bottom: 2.4rem;
	}
}
.break--md {

}
.break--sm {

}

.break-slides-container {
	position: relative;
	overflow: hidden;
	height: 18rem;
	@media (min-width: $breakpoint-sm) {
		height: 12rem;
	}
}

.break-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 18rem;
	background: $color-teal-600;
	opacity: 0;
	@media (min-width: $breakpoint-sm) {
		height: 12rem;
	}
}

.break-slide.active {
	z-index: 2;
	opacity: 1;
}

.mini-visualization {
	margin-bottom: 3.6rem;
	svg {
		display: block;
		margin: 0 auto;
	}
	g {
		font-family: 'Montserrat', sans-serif;
	}
	.popup-toggle {
		position: absolute;
		width: 32px;
		height: 32px;
		bottom: 20px;
		left: 50%;
		margin-left: -16px;
		border: 0;
		border-radius: 50%;
		background: $color-white;
		z-index: 20;
		cursor: pointer;
		font-weight: 700;
		outline: none;
	}
	.popup {
		position: absolute;
		width: 300px;
		height: 300px;
		background: $color-white;
		bottom: 20px;
		left: 50%;
		margin-left: -150px;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;
		box-shadow: 0 3px 16px -3px rgba(0,0,0,0.2);
		-webkit-transform: scale(0.106);
		-moz-transform: scale(0.106);
		-ms-transform: scale(0.106);
		-o-transform: scale(0.106);
		transform: scale(0.106);
		background: $color-white;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		z-index: 10;
		.popup__content {
			font-size: 1.4rem;
			background: $color-white;
			color: $color-grey-800;
			opacity: 0;
		}
	}
	.view {
		display: none;
	}
	.view--active {
		display: block;
	}
	.toggles {
		fill: $color-grey-200;
		text { fill: $color-teal-600; }
		cursor: pointer;
	}
	.toggle.toggle--active {
		fill: $color-teal-600;
		text { fill: $color-white; }
	}
}

.cs-banner .mini-visualization {
	margin-bottom: 0;
}

.case-study-img-container {
	position: relative;
	overflow: hidden;
	min-height: 64rem;
	.container--narrow {

	}
}

.case-study-img {
	width: 100%;
	img {
		display: block;
	}
	@media (min-width: $breakpoint-md) {
		position: absolute;
		top: 0;
		left: 0;
		img { min-width: 120rem;margin:0 auto; }
	}
	@media (min-width: $breakpoint-lg) {
		img { width: 100%;max-width: 168rem; }
	}
}

.case-study-img-text {
	background: $color-grey-200;
	padding-top: 4rem;
	padding-bottom: 5.6rem;
	@media (min-width: $breakpoint-md) {
		background: $color-white;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.case-study-img-text--bottom {
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 3.2rem;
	@media (min-width: $breakpoint-md) {
		margin-top: 36rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

// Visualizations

.main-visualization-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	svg {
		display: block;
	}
}

.main-visualization-source {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(255,255,255,0.9);
	text-align: center;
	.source-content {
		position: relative;
		top: 40%;
		padding-left: 3.2rem;
		padding-right: 3.2rem;
		margin: 0 auto;
		width: 100%;
		max-width: 720px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	p {
		-webkit-animation: bannerElementOneEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-animation: bannerElementOneEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-animation: bannerElementOneEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-animation: bannerElementOneEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		animation: bannerElementOneEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.btn {
		-webkit-animation: bannerElementTwoEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-animation: bannerElementTwoEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-animation: bannerElementTwoEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-animation: bannerElementTwoEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		animation: bannerElementTwoEnter 1s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

.mini-visualization {
	.slide-in--bottom,
	.pop {
		// -webkit-transition: -webkit-transform 1s, opacity 1s;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-ms-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: -webkit-transform 1s, opacity 1s;
		-webkit-transform: translateY(4.8rem);
		-moz-transform: translateY(4.8rem);
		-ms-transform: translateY(4.8rem);
		-o-transform: translateY(4.8rem);
		transform: translateY(4.8rem);
		opacity: 0;
	}
}

.mini-visualization--active {
	.element--0 {
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		-ms-transition-delay: 0;
		-o-transition-delay: 0;
		transition-delay: 0;
	}
	.element--1 {
		-webkit-transition-delay: 0.1s;
		-moz-transition-delay: 0.1s;
		-ms-transition-delay: 0.1s;
		-o-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}
	.element--2 {
		-webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		-ms-transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}
	.element--3 {
		-webkit-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		-ms-transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
	.element--4 {
		-webkit-transition-delay: 0.4s;
		-moz-transition-delay: 0.4s;
		-ms-transition-delay: 0.4s;
		-o-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}
	.element--5 {
		-webkit-transition-delay: 0.5s;
		-moz-transition-delay: 0.5s;
		-ms-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}
	.element--6 {
		-webkit-transition-delay: 0.6s;
		-moz-transition-delay: 0.6s;
		-ms-transition-delay: 0.6s;
		-o-transition-delay: 0.6s;
		transition-delay: 0.6s;
	}
	.element--7 {
		-webkit-transition-delay: 0.7s;
		-moz-transition-delay: 0.7s;
		-ms-transition-delay: 0.7s;
		-o-transition-delay: 0.7s;
		transition-delay: 0.7s;
	}
	.element--8 {
		-webkit-transition-delay: 0.8s;
		-moz-transition-delay: 0.8s;
		-ms-transition-delay: 0.8s;
		-o-transition-delay: 0.8s;
		transition-delay: 0.8s;
	}
	.element--9 {
		-webkit-transition-delay: 0.9s;
		-moz-transition-delay: 0.9s;
		-ms-transition-delay: 0.9s;
		-o-transition-delay: 0.9s;
		transition-delay: 0.9s;
	}
	.element--10 {
		-webkit-transition-delay: 1s;
		-moz-transition-delay: 1s;
		-ms-transition-delay: 1s;
		-o-transition-delay: 1s;
		transition-delay: 1s;
	}
	.element--11 {
		-webkit-transition-delay: 1.1s;
		-moz-transition-delay: 1.1s;
		-ms-transition-delay: 1.1s;
		-o-transition-delay: 1.1s;
		transition-delay: 1.1s;
	}
	.slide-in--bottom,
	.pop {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.toolbar-select {
	width: 70%;
	@media (min-width: $breakpoint-sm) {
		width: 60%;
	}
	@media (min-width: $breakpoint-md) {
		width: 50%;
	}
}

.toolbar--top {
	position: absolute;
	top: 0;
	width: 100%;
}
.toolbar--bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.overlay {
	fill: transparent;
}

.d3-tip {
	max-width: 32rem;
	-webkit-transform: translateY(-1.4rem);
	-moz-transform: translateY(-1.4rem);
	-ms-transform: translateY(-1.4rem);
	-o-transform: translateY(-1.4rem);
	transform: translateY(-1.4rem);
	box-shadow: 0 2px 14px -4px rgba(0,0,0,0.2);
	.d3-tip-img {
		height: 22.5rem;
	}
	img {
		display: block;
		min-height: 3.2rem;
	}
}

.d3-tip-content {
	position: relative;
	background: $color-white;
	padding: 2.4rem;
	&:after {
		content: '';
		position: absolute;
		bottom: -1rem;
		width: 2rem;
		height: 2rem;
		background: $color-white;
		left: 50%;
		margin-left: -1rem;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.2);
	}
}

// @import '../../node_modules/react-select/scss/default';
@import 'select';



#transition-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10000;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	will-change: transform;
}

#view-wrapper {
	// will-change and transforms do not work with the sticky nav in the case studies...
	// will-change: transform;
}

#csHeaderContent {
	will-change: transform;
}

@keyframes loader {
	0% {
		opacity: 0;
		transform: scale(0) rotate(0deg);
	}
	50% {
		opacity: 1;
		transform: scale(1) rotate(359.9deg);
	}
	100% {
		opacity: 0;
		transform: scale(0) rotate(719.9deg);
	}
}

@-webkit-keyframes loader {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(359.9deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(719.9deg);
	}
}

.loader {
	.cube {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8rem;
		height: 8rem;
		margin-left: -4rem;
		margin-top: -4rem;
		background: $color-yellow-500;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20rem;
	height: 20rem;
	margin-left: -10rem;
	margin-top: -10rem;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	> p {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
}

.loader--active {
	opacity: 1;
	.cube {
		animation: loader 3s infinite cubic-bezier(0.77, 0, 0.175, 1);
		-webkit-animation: loader 3s infinite cubic-bezier(0.77, 0, 0.175, 1);
	}
}

.case-study {

}

.case-study-navigation-wrapper {
	height: 7.2rem;
}

.case-study-navigation {
	position: relative;
	background: $color-white;
}

.case-study-navigation--affixed {
	position: fixed;
	top: 7.2rem;
	left: 0;
	width: 100%;
	box-shadow: 0 4px 12px -4px rgba(0,0,0,0.2);
	z-index: 500;
}

.case-study-navigation .active {
	color: $color-white;
	background: $color-yellow-500;
}

.histogram {
}

.histogram__treatment {
  display:block;
  float:left;
  position:relative;
  width:50%;
  height:395px;
  padding-right:3.2rem;
}

.histogram__control {
  display:block;
  float:right;
  position:relative;
  width:50%;
  height:395px;
  padding-left:3.2rem;
}

.histogram__col {
  display:block;
  width:50%;
  height:395px;
  &:first-child {
    float:left;
    padding-right:2rem;
  }
  &:last-child {
    float:right;
    padding-left:2rem;
  }
}

.human {
  display:block;
  position:absolute;
  fill: $color-grey-300;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visualization--plan-nacer,
.visualization--indonesia-sanitation,
.visualization--thailand-ucs {
	padding-top: 14rem;
	padding-bottom: 8rem;
	.group {
		position: relative;
		float: left;
		width: 25%;
	}
	.group__bars {
		position: relative;
		height: 240px;
	}
	.bar-pre {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -50px;
		background: $color-teal-600;
		height: 0;
		width: 40px;
	}
	.bar-post {
		position: absolute;
		bottom: 0;
		right: 50%;
		margin-right: -50px;
		background: $color-yellow-500;
		height: 0;
		width: 40px;
	}
	.bar-label {
		position: absolute;
		right: 0;
		width: 50%;
		padding-left: 10px;
	}
	.bars-label {
		text-align: center;
		p:first-child {
			font-weight: 700;
			margin-bottom: 1.6rem;
		}
	}
}

.visualization--plan-nacer {
	.bars-label {
		p:last-child {
			font-size: 1.4rem;
		}
	}
}

.visualization--indonesia-sanitation,
.visualization--thailand-ucs {
	.group { width: 100%; }
	@media (min-width: $breakpoint-sm) {
		.group { width: 33.333333%; }
	}
}

.related-cases {
	text-align: center;
	.related-cases__prev {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -o-transform 0.5s;
		transition: transform 0.5s;
		> div {
			height: 20rem;
			overflow: hidden;
		}
	}
	.related-cases__next {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		-ms-transition: -ms-transform 0.5s;
		-o-transition: -o-transform 0.5s;
		transition: transform 0.5s;
		> div {
			height: 20rem;
			overflow: hidden;
		}
	}
}

.related-cases--active {
	.related-cases__prev {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.related-cases__next {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}


.visualization--line-chart {

}

.visualization--line-chart .x-axis {
	fill: none;
	stroke: $color-grey-400;
	stroke-width: 2px;
	.tick {
		fill: $color-grey-400;
		stroke-width: 0;
	}
}

.visualization--line-chart .y-axis {
	fill: none;
	.tick {
		fill: $color-grey-400;
		stroke-width: 0;
	}
}


// .buy-the-book {
// 	background-image: url('/img/millions-saved-books.png');
// 	background-repeat: no-repeat;
// 	background-position: center top;
// 	padding-top: 48rem;
// 	padding-bottom: 7.2rem;
// 	@media (min-width: $breakpoint-md) {
// 		padding-top: 12rem;
// 		padding-bottom: 18rem;
// 		background-position: -50% top;
// 	}
// 	@media (min-width: $breakpoint-lg) {
// 		padding-bottom: 20rem;
// 		background-position: left top;
// 	}
// }

$faq-dimension: 6.4rem;
$faq-border-width: 0.8rem;

.faq-number {
	width: $faq-dimension;
	height: $faq-dimension;
	border: $faq-border-width solid $color-teal-600;
	border-radius: 50%;
	line-height: $faq-dimension - 2 * $faq-border-width;
	text-align: center;
	font-weight: 700;
}

.dcp3-logo {
	margin: 0 auto;
	background: $color-white;
	max-width: 32rem;
	box-shadow: 0 2px 14px -4px rgba(0,0,0,0.3);
}

.criteria__item {
	@media (min-width: $breakpoint-sm) {
		min-height: 30rem;
	}
}

.wrapper-section {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.wrapper-section--with-shadow {
	-webkit-box-shadow: 0 0.2rem 2rem 0.4rem rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0.2rem 2rem 0.4rem rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0.2rem 2rem 0.4rem rgba(0,0,0,0.2);
	-o-box-shadow: 0 0.2rem 2rem 0.4rem rgba(0,0,0,0.2);
	box-shadow: 0 0.2rem 2rem 0.4rem rgba(0,0,0,0.2);
}

.about-submenu .active-link {
	background: $color-yellow-500;
}

#case-study-main-img {
	transition: opacity 1s;
}


.tooltip > a {
	overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  		word-break: break-word;

  color: $color-white;

  &:hover {
  	color: $color-yellow-500;
  }
  // -ms-hyphens: auto;
  // -moz-hyphens: auto;
  // -webkit-hyphens: auto;
  // hyphens: auto;
}


.points-of-interest {
	cursor: pointer;
	&:hover {
		stroke: $color-yellow-500;
		stroke-width: 4px;
	}
}



