
.main-navigation {
  position: relative;
  @media (min-width: $breakpoint-md) {
    float: left;
  }
}

.nav-wrapper { position: relative; }

.main-navigation__toggle {
  position: absolute;
  right: 0;
}

.get-book {
  position: absolute;
  top: 0;
  right: 0;
}

.main-navigation .nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 9.6rem;
  padding-bottom: 4.8rem;
  width: 26rem;
  height: 100%;
  overflow: scroll;
  background: $color-teal-600;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;

  @media (min-width: $breakpoint-xs) {
    width: 32rem;
  }
  @media (min-width: $breakpoint-md) {
    display: block;
    width: auto;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    // -webkit-transform: translateX(0);
    // -moz-transform: translateX(0);
    // -ms-transform: translateX(0);
    // -o-transform: translateX(0);
    // transform: translateX(0);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: transparent;
    overflow: visible;
  }
}

.main-navigation .nav--active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.main-navigation .nav > ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -o-transform: translateX(-30%);
  transform: translateX(-30%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  background: $color-teal-500;
  @media (min-width: $breakpoint-md) {
    // -webkit-transform: translateX(0);
    // -moz-transform: translateX(0);
    // -ms-transform: translateX(0);
    // -o-transform: translateX(0);
    // transform: translateX(0);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
  }
}

.main-navigation .nav--active > ul {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.main-navigation__item,
.main-navigation__item--with-dropdown {
  > a {
    display: block;
    padding: 1.6rem 1.6rem;
    color: #fff;
  }
  @media (min-width: $breakpoint-md) {
    float: left;
    > a {
      display: block;
      padding: 3.6rem 0;
      -webkit-transition: padding 0.3s;
      -moz-transition: padding 0.3s;
      -ms-transition: padding 0.3s;
      -o-transition: padding 0.3s;
      transition: padding 0.3s;
    }
    // &:hover .dropdown {
    //   opacity: 1;
    //   -webkit-transform: translateY(0);
    //   -moz-transform: translateY(0);
    //   -ms-transform: translateY(0);
    //   -o-transform: translateY(0);
    //   transform: translateY(0);
    //   pointer-events: all;
    //   visibility: visible;
    // }
  }
}

.main-navigation__item--with-dropdown {
  > a:after {
    display: inline-block;
    position: relative;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    bottom: 0.3rem;
    margin-left: 1rem;
    background: transparent;
    border-right: 0.2rem solid #fff;
    border-bottom: 0.2rem solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
  }
}

.main-navigation .nav--active {}

.dropdown {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-teal-600;
  ul {
    overflow: hidden;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
  .dropdown__link {
    display: block;
    color: $color-white;
    padding-left: 0.8rem;
    &:hover,
    &:focus { color: $color-yellow-500; }
  }
  @media (min-width: $breakpoint-md) {
    position: fixed;
    opacity: 0;
    padding-top: 9.6rem;
    -webkit-transform: translateY(-3.2rem);
    -moz-transform: translateY(-3.2rem);
    -ms-transform: translateY(-3.2rem);
    -o-transform: translateY(-3.2rem);
    transform: translateY(-3.2rem);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
    pointer-events: none;
    box-shadow: 0 4px 14px rgba(0,0,0,0.3);
    visibility: hidden;
    ul {
      margin-left: 0;
      margin-right: 0;
      padding-top: 3.2rem;
      padding-bottom: 1.6rem;
    }
    .dropdown__link { padding-left: 0; }
  }
}

.dropdown .main-navigation__dropdown-item {
  @media (min-width: $breakpoint-md) {
    // min-height: 5rem;
    height: 5rem;
    overflow: hidden;
  }
}

.dropdown--open {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  pointer-events: all;
  visibility: visible;
}

.site-header--sticky {
  .main-navigation__item > a { padding: 2.4rem 0; }
  .main-navigation__toggle { top: 0.8rem; }
  .dropdown { padding-top: 7.2rem; }
}

.main-navigation__toggle {
  display: block;
  top: 2.2rem;
  right: 1.6rem;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  @media (min-width: $breakpoint-md) {
    display: none;
    right: 0;
  }
}

.nav-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0,0,0,0);
}

.nav-cover--active {
  width: 100%;
  background: rgba(0,0,0,0.6);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
