
$select-input-bg-disabled: $color-red-500;
$select-input-bg: $color-yellow-500;
$select-input-height: 5.6rem;

.Select {
	position: relative;
	&.is-disabled > .Select-control {
		background-color: $select-input-bg-disabled;
	}
	&.is-disabled .Select-arrow-zone {
		cursor: default;
		pointer-events: none;
	}
}

.Select-control {
	background-color: $select-input-bg;
	border: 0;
	color: inherit;
	cursor: pointer;
	display: table;
	height: $select-input-height;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
	&:hover {}
}

.is-searchable {
	&.is-open > .Select-control {
		cursor: text;
	}
}

.is-open > .Select-control {
	color: $text-color;
	background: $color-white;
	box-shadow: 0 2px 14px -4px rgba(0,0,0,0.5);
	> .Select-arrow {
		border-color: transparent transparent $text-color;
		border-width: 0 0.8rem 0.8rem;
	}
	.Select-placeholder {
		color: $text-color;
	}
}

.is-searchable {
	&.is-focused:not(.is-open) > .Select-control {
		cursor: text;
	}
}

.is-focused:not(.is-open) > .Select-control {}

.Select-placeholder {
	bottom: 0;
	color: $text-color;
	// color: $color-white;
	left: 0;
	line-height: 5.6rem;
	padding-left: 2.4rem;
	padding-right: 2.4rem;
	position: absolute;
	right: 0;
	top: 0;

	// crop text
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Select-value {
	color: $text-color;
	// color: $color-white;
	left: 0;
	padding: 0.8rem 52px 0.8rem 0.8rem;
	position: absolute;
	right: -(0.8rem + 0.8rem);
	top: 0;

	// crop text
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Select-input {
	height: 5.6rem;
	padding-left: 2.4rem;
	padding-right: 2.4rem;
	vertical-align: middle;
	outline: none;

	> input {
		background: none transparent;
		border: 0 none;
		box-shadow: none;
		cursor: default;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		height: 5.6rem;
		margin: 0;
		outline: none;
		padding: 0;
		-webkit-appearance: none;

		.is-focused & {
			cursor: text;
		}
	}

}

.Select-clear-zone {
	// color: $color-white;
	color: $text-color;
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 5.6rem;

	&:hover {
		// color: $color-white;
		color: $text-color;
	}
}
.Select-clear {
	display: inline-block;
	font-size: 2rem;
	line-height: 1;
}
.Select--multi .Select-clear-zone {
	width: 5.6rem;
}


.Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: (0.8rem * 5);
	padding-right: 0.8rem;
}

.Select-arrow {
	// border-color: $color-white transparent transparent;
	border-color: $text-color transparent transparent;
	border-style: solid;
	border-width: 0.6rem 0.6rem (0.6rem / 2);
	display: inline-block;
	height: 0;
	width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
	// border-top-color: $color-white;
	border-top-color: $text-color;
}

.Select-menu-outer {
	background-color: $color-white;
	box-shadow: 0 -4px 0 0 rgba(255,255,255,1),
							0 2px 14px -4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 32rem;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.Select-menu {
	max-height: (32rem - 0.2rem);
	overflow-y: auto;
}

.Select-option {
	box-sizing: border-box;
	color: $text-color;
	cursor: pointer;
	display: block;
	padding: 1.6rem 2.4rem;

	&:last-child {}

	&.is-focused {
		// background-color: $color-grey-200;
		// color: $color-teal-500;
		background: $color-yellow-500;
	}

	&.is-disabled {
		color: $color-grey-200;
		cursor: not-allowed;
	}

}

.Select-noresults,
.Select-search-prompt,
.Select-searching {
	box-sizing: border-box;
	color: $color-grey-400;
	cursor: default;
	display: block;
	padding: 1.6rem 2.4rem;
}









