
$space-base: 1.6rem;

.block {
	display: block;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }


.bg--grey {
	background: $color-grey-100;
}

.bg--white {
	background: $color-white;
}

.bg--teal {
	color: $color-white;
	background: $color-teal-600;
}

.bg--yellow {
	// color: $color-white;
	background: $color-yellow-500;
}


.fill--yellow     { fill: $color-yellow-500; }
.fill--grey       { fill: $color-grey-400;   }
.fill--grey-dark  { fill: darken($color-grey-400, 10%);   }
.fill--grey-light { fill: #E3E0DB;           }
.fill--grey-lighter { fill: #F3F0EB;         }
.fill--teal       { fill: $color-teal-600;   }
.fill--white      { fill: $color-white;      }

.mini-visualization-svg .fill--yellow {
	fill: $color-yellow-700;
}

.stroke--white      { stroke: $color-white       }
.stroke--yellow     { stroke: $color-yellow-500; }
.stroke--teal       { stroke: $color-teal-500    }
.stroke--grey       { stroke: $color-grey-400;   }
.stroke--grey-light { stroke: #E3E0DB;           }

.mini-visualization-svg .stroke--yellow {
	stroke: $color-yellow-700;
}

.text--default { color: $text-color;       }
.text--yellow  { color: $color-yellow-500; }
.text--teal    { color: $color-teal-600;   }
.text--muted   { color: $color-grey-400;   }

.text--center    { text-align: center; }
.text--right     { text-align: right; }
.text--uppercase { text-transform: uppercase; }


.y-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
		 -moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			 -o-transform: translateY(-50%);
					transform: translateY(-50%);
}

.li--unstyled {
  list-style: none;
}

.o0 { opacity: 0; }
.o1 { opacity: 1; }

.visible--xs { display: none; }
.visible--sm { display: none; }
.visible--sm-inline { display: none; }
.visible--md { display: none; }
.visible--lg { display: none; }
.visible--xl { display: none; }

.m0  { margin:  0; }
.p0  { padding: 0; }

.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }

.mt1 { margin-top:    1 * $space-base; }
.mt2 { margin-top:    2 * $space-base; }
.mt3 { margin-top:    3 * $space-base; }
.mt4 { margin-top:    4 * $space-base; }

.mb1 { margin-bottom: 1 * $space-base; }
.mb2 { margin-bottom: 2 * $space-base; }
.mb3 { margin-bottom: 3 * $space-base; }
.mb4 { margin-bottom: 4 * $space-base; }

.pt1 { padding-top: 1 * $space-base; }
.pt2 { padding-top: 2 * $space-base; }
.pt3 { padding-top: 3 * $space-base; }
.pt4 { padding-top: 4 * $space-base; }

.pb2 { padding-bottom: 2 * $space-base; }
.pb3 { padding-bottom: 3 * $space-base; }
.pb4 { padding-bottom: 4 * $space-base; }

.py05 { padding-top: 0.5 * $space-base; padding-bottom: 0.5 * $space-base; }
.py1 { padding-top: 1 * $space-base; padding-bottom: 1 * $space-base; }
.py2 { padding-top: 2 * $space-base; padding-bottom: 2 * $space-base; }
.py3 { padding-top: 3 * $space-base; padding-bottom: 3 * $space-base; }
.py4 { padding-top: 4 * $space-base; padding-bottom: 4 * $space-base; }

.px0 { padding-left: 0; padding-right: 0; }
.px1 { padding-left: 1 * $space-base; padding-right: 1 * $space-base; }
.px2 { padding-left: 2 * $space-base; padding-right: 2 * $space-base; }
.px3 { padding-left: 3 * $space-base; padding-right: 3 * $space-base; }

.mxn1 { margin-left: -1 * $space-base; margin-right: -1 * $space-base; }
.mxn2 { margin-left: -2 * $space-base; margin-right: -2 * $space-base; }
.mxn3 { margin-left: -3 * $space-base; margin-right: -3 * $space-base; }

@media (min-width: $breakpoint-xs) {
	.visible--xs { display: block; }
	.hide--xs    { display: none; }

	.px-xs-0 { padding-left: 0; padding-right: 0; }
	.px-xs-1 { padding-left: 1 * $space-base; padding-right: 1 * $space-base; }
	.px-xs-2 { padding-left: 2 * $space-base; padding-right: 2 * $space-base; }
	.px-xs-3 { padding-left: 3 * $space-base; padding-right: 3 * $space-base; }

	.mx-xs-n1 { margin-left: -1 * $space-base; margin-right: -1 * $space-base; }
	.mx-xs-n2 { margin-left: -2 * $space-base; margin-right: -2 * $space-base; }
	.mx-xs-n3 { margin-left: -3 * $space-base; margin-right: -3 * $space-base; }
}

@media (min-width: $breakpoint-sm) {
	.visible--sm { display: block; }
	.visible--sm-inline { display: inline-block; }
	.hide--sm    { display: none; }

	.px-sm-0 { padding-left: 0; padding-right: 0; }
	.px-sm-1 { padding-left: 1 * $space-base; padding-right: 1 * $space-base; }
	.px-sm-2 { padding-left: 2 * $space-base; padding-right: 2 * $space-base; }
	.px-sm-3 { padding-left: 3 * $space-base; padding-right: 3 * $space-base; }

	.mx-sm-n1 { margin-left: -1 * $space-base; margin-right: -1 * $space-base; }
	.mx-sm-n2 { margin-left: -2 * $space-base; margin-right: -2 * $space-base; }
	.mx-sm-n3 { margin-left: -3 * $space-base; margin-right: -3 * $space-base; }
}

@media (min-width: $breakpoint-md) {
	.visible--md { display: block; }
	.hide--md    { display: none; }

	.px-md-0 { padding-left: 0; padding-right: 0; }
	.px-md-1 { padding-left: 1 * $space-base; padding-right: 1 * $space-base; }
	.px-md-2 { padding-left: 2 * $space-base; padding-right: 2 * $space-base; }
	.px-md-3 { padding-left: 3 * $space-base; padding-right: 3 * $space-base; }

	.mx-md-n1 { margin-left: -1 * $space-base; margin-right: -1 * $space-base; }
	.mx-md-n2 { margin-left: -2 * $space-base; margin-right: -2 * $space-base; }
	.mx-md-n3 { margin-left: -3 * $space-base; margin-right: -3 * $space-base; }
}

@media (min-width: $breakpoint-lg) {
	.visible--lg { display: block; }
	.hide--lg    { display: none; }

	.px-lg-0 { padding-left: 0; padding-right: 0; }
	.px-lg-1 { padding-left: 1 * $space-base; padding-right: 1 * $space-base; }
	.px-lg-2 { padding-left: 2 * $space-base; padding-right: 2 * $space-base; }
	.px-lg-3 { padding-left: 3 * $space-base; padding-right: 3 * $space-base; }

	.mx-lg-n1 { margin-left: -1 * $space-base; margin-right: -1 * $space-base; }
	.mx-lg-n2 { margin-left: -2 * $space-base; margin-right: -2 * $space-base; }
	.mx-lg-n3 { margin-left: -3 * $space-base; margin-right: -3 * $space-base; }
}

@media (min-width: $breakpoint-xl) {
	.visible--xl { display: block; }
	.hide--xl    { display: none; }
}
