
//
// Colors
//
$color-grey-100: #f6f6f6;
$color-grey-150: #f2f2f2;
$color-grey-200: #e2e2e2;
$color-grey-300: #DAD7CD;
// $color-grey-400: #C0BDB8;
$color-grey-400: #C0BDB8;
$color-grey-800: #302D28;

$color-red-500:  #EB4C38;
$color-red-700:  #cB2C18;

$color-blue-500: #2196F3;
$color-blue-700: #0288D1;

$color-turquoise-500: #1ABC9C;
$color-turquoise-700: #16a085;

$color-green-500:  #00C853;
$color-green-700:  #00B259;

$color-orange-500: #FF9800;
$color-orange-700: #F57C00;

// $color-yellow-500: #B89434;
$color-yellow-500: #FDBA45;
// $color-yellow-700: #A88424;
$color-yellow-700: #EDAA35;

$color-pink-500:   #E91E63;
$color-pink-700:   #C2185B;

$color-beige-500:  #9D8C70;

// $color-teal-500: #305F6A;
$color-teal-500: #296976;
// $color-teal-600: #204F5A;
$color-teal-600: #195966;

$color-white: #fff;

//
// Typography
//
$font-family-base: 'Montserrat', Helvetica, sans-serif;
// $text-color: $color-grey-800;
$text-color: #333333;

$font-size-base: 1.6rem;
$font-size-article: 1.8rem;
$space-base: $font-size-base; // used for calculating all the paddings/margins

$line-height-base: 1.6;

$font-weight-heading: 700;

//
// Buttons
//
$button-border-weight: 0.2rem; // Specify in rem!

$button-dark-factor-hover:  0.15;
$button-dark-factor-focus:  0.10;
$button-dark-factor-active: 0.20;

//
// Responsive Breakpoints
//
// $breakpoint-sm: 40em;
// $breakpoint-md: 52em;
// $breakpoint-lg: 64em;
$breakpoint-xs: 30em;
$breakpoint-sm: 48em;
$breakpoint-md: 62em;
$breakpoint-lg: 75em;
$breakpoint-xl: 91em;

