include ../mixins/flash-messages

doctype html
html(ng-app='millionssaved')

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Since 2004, the Center for Global Development has been collecting success stories in global health – remarkable cases in which large-scale efforts to improve health in developing countries have succeeded – and releasing them in the book Millions Saved: Case Studies in Global Health.  A second edition of Millions Saved was printed in 2007, and a third edition is expected in 2015.  Millions Saved is currently required reading at over 60 universities around the world.")

    //- title= title || 'millionssaved'
    title(ng-bind="'Millions Saved — ' + pageTitle")
    link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")

    link(href="/styles/styles.css", rel="stylesheet")

    //- This file provides the default styling for the KeystoneJS Content Editor
    //- if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- Include template-specific stylesheets by extending the css block
    //- block css

    //- Add any other template-specific HEAD tags by extending the head block
    //- block head
    base(href="/")

  //- HTML BODY
  body(ng-controller="MainCtrl")

    #blanket
        .loader
            //- span Loading

    .scroll-container
        .main-scroller.main-scroller--default
            div(ng-include="'components/header/header.html'")

            div(ui-view ng-class="{'main-view--w-breadcrumbs': bc[1]}").main-view

    //- include ../../public/components/header/header.html

    //- div(ng-include="'components/footer/footer.html'")
    //- include ../../public/components/footer/footer.html

    //- block intro
    //- block content
    
    //- The morph mask is used by the morph select modals as a background.
    .morph-mask

    script(src='/vendor.js')

    //- For the editor to work you need to change jQuery to $ in the editor.js file
    //- if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    script(src='/app.js')
    //- Include template-specific javascript files by extending the js block
    //- block js

